body{
    background-color:gray; 
}

.header{
    width:auto;
    height:auto;
    margin-left:20px;
    background-color:darkkhaki;
    border-radius:10px 10px 10px 10px;
}

.avatar{
    /*background-color:DarkCyan;*/
    /*float:left;*/
    display:flex;
    width:auto;
    height:auto;
    margin-left:20px;
    border-radius:10px 10px 10px 10px;
}

.message{
    width:auto;
    height:50%;
    margin-left:20px;
    background-color:darkkhaki;
    border-radius:10px 10px 10px 10px;
}

.ok_message{
    width:50%;
    height:50%;
    margin-left:20px;
    background-color:green;
    border-radius:10px 10px 10px 10px;
}

.err_message{
    width:50%;
    height:50%;
    margin-left:20px;
    background-color:red;
    border-radius:10px 10px 10px 10px;
}

.mod_message{
    width:50%;
    height:50%;
    margin-left:20px;
    background-color:yellow;
    border-radius:10px 10px 10px 10px;
}

.works_table{
    margin-left:20px;
    background-color:darkkhaki;
    width:auto;
    border-radius:10px 10px 10px 10px;
}

.login{
    width:50%;
    height:auto;
    margin-left:20px;
    background-color:darkkhaki;
    border-radius:10px 10px 10px 10px;
}

table{
    width:100%;
    font-weight: bold
}

.disabled{
    pointer-events: none;
    color:gray;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #000;
  opacity: 1;
  z-index: 9999;
}

.chat_logo {
    top: 0;
    position:fixed;
    /*margin-left: 45%;*/
    width:10%;
    height:auto;
}

.top_menu{
    display: flex;
    background-color: black;
    top:0;
    right: 0;
    position:fixed;
}
.chat_question {
    text-align: left;
    margin-left: 10%;
    margin-right: 5%;
    background:rgb(58, 146, 175);
    padding: 0.2em 0.4em;
    border-radius:10px 10px 10px 10px;
}

.chat_answer {
    text-align: left;
    margin-left: 5%;
    margin-right: 10%;
    background:rgb(141, 136, 136);
    padding: 0.2em 0.4em;
    border-radius:10px 10px 10px 10px;
}

.chat_center {
    background-color: white;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink_text{
    animation: blink 1s linear infinite;
    
}

.chat_form {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    /*background-color: lightgray; 
    padding: 10px;*/
    text-align: center;
}