<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/style.css">
	<title>DSC</title>
</head>


<body>
	<div class="header">
		<h1> ADMIN PAGE <h1>
	</div>

	<div class="avatar">
		{%if avatar %}
        	<img src={{avatar}} alt="default">
    	{% endif %}
		<div class="message">
			{% if message %}
				<h2>{{message|safe|e}}</h2>
			{% endif %}
		</div>
	</div>


	{% if users_values %}
	<div class="works_table">

		<h3>ОПЕРАЦИИ С БАЗОЙ ПОЛЬЗОВАТЕЛЕЙ:
			<a href = "/register/"> ДОБАВИТЬ ПОЛЬЗОВАТЕЛЯ </a>
		</h3>

		<h3 style="text-align: center;">
			{% if page_num <= 1 %}	
				<a href = "/admin/{{page_num-1}}" class="disabled" style="text-decoration: none;"> &lt;&lt;&lt; </a>
			{% else %}
				<a href = "/admin/{{page_num-1}}" style="text-decoration: none;"> &lt;&lt;&lt; </a>
			{% endif %}
			{{page_num}}
			{% if page_num >= max_page %}
				<a href = "/admin/{{page_num+1}}" class="disabled" style="text-decoration: none;"> &gt;&gt;&gt; </a>
			{% else %}
				<a href = "/admin/{{page_num+1}}" style="text-decoration: none;"> &gt;&gt;&gt; </a>
			{% endif %}
		</h3>

		<table border=1>
			<thead>
				<tr>
					<th> ID </th>
					<th> ИМЯ </th>
					<th> ЛОГИН </th>
					<th> ПРАВА </th>
					<th> АКТИВНОСТЬ </th>
					<th> ДЕЙСТВИЯ </th>
				</tr>
			</thead>
			<tbody>
			{%for user in users_values%}
					<tr>
						<td> {{user.id}} </td>
						<td> {{user.name}} </td>
						<td> {{user.email}} </td>
						<td> {{user.privileges}} </td>
						<td>
						{% if user.isblocked == False %}
							активен
						{% else %}
							заблокирован
						{% endif %}
						</td>
						<td> <a href = "/change/{{user.id}}">ИЗМЕНИТЬ</a> </td>
					</tr>
					{% endfor %}
			</tbody>
		</table>
		
		<h3 style="text-align: center;">
			{% if page_num <= 1 %}	
				<a href = "/admin/{{page_num-1}}" class="disabled" style="text-decoration: none;"> &lt;&lt;&lt; </a>
			{% else %}
				<a href = "/admin/{{page_num-1}}" style="text-decoration: none;"> &lt;&lt;&lt; </a>
			{% endif %}
			{{page_num}}
			{% if page_num >= max_page %}
				<a href = "/admin/{{page_num+1}}" class="disabled" style="text-decoration: none;"> &gt;&gt;&gt; </a>
			{% else %}
				<a href = "/admin/{{page_num+1}}" style="text-decoration: none;"> &gt;&gt;&gt; </a>
			{% endif %}
		</h3>

		<br>
	</div>

	{% endif %}
	
</body>
