<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>DSC</title>
</head>


<body>
<h1> ADMIN PAGE <h1>
	{% if message %}
	<p>{{ message }}</p>
	{% endif %}

	{% if users_values %}
	<div class="works_table">
		<caption>СПИСОК ПОЛЬЗОВАТЕЛЕЙ:</caption>
		<table border=1 style="width:100%;">
		<thead>
			<tr>
				<th> ID </th>
				<th> ИМЯ </th>
				<th> ЛОГИН </th>
				<th> ПРАВА </th>
				<th> АКТИВНОСТЬ </th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
		{%for user in users_values%}
				<tr>
					<td> {{user.id}} </td>
					<td> {{user.name}} </td>
					<td> {{user.email}} </td>
					<td> {{user.privileges}} </td>
					
					{% if user.isblocked == False %}
						<td> активен <td> 
					{% endif %}

					{% if user.isblocked == True %}
						<td> заблокирован <td> 
					{% endif %}

					<td> <a href = "/change/{{user.id}}" /a> ИЗМЕНИТЬ </td>
				</tr>
				{% endfor %}
		</tbody>
	{% endif %}
	<br>
	<a href = "/register/" /a> ДОБАВИТЬ ПОЛЬЗОВАТЕЛЯ
</body>