<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>DSC</title>
</head>


<body>
    <h1> CHANGE RECORD <h1>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        <form>
            <p>
            <label for="name">имя</label>
            <input type="text" id="name" value="Иван Иванов">
            <br>
            <label for="name">имя</label>
            <input type="text" id="name" value="Иван Иванов">
            <br>
            <label for="name">имя</label>
            <input type="text" id="name" value="Иван Иванов">
            </p>
          </form>

</body>