<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>DSC</title>
</head>


<body>
    <h1> CHANGE RECORD <h1>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        <form>
            <p>
            <label for="name">имя</label>
            <input type="text" id="name" value={{user.name}}>
            <br>
            <label for="email">логин</label>
            <input type="text" id="email" value={{user.email}}>
            <br>
            <label for="password">пароль</label>
            <input type="text" id="password" value={{user.password}}>
            <br>
            <label for="privileges">права</label>
            <input type="text" id="privileges" value={{user.privileges}}>
            </p>
            <input type="submit", method="post">
          </form>

</body>