<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="/static/style.css">
	<title>DSC</title>
</head>


<body>
    <h1> ИЗМЕНЕНИЕ ЗАПИСИ: <h1>
      <div class="header">
        <img src={{url_for('static', filename='avatars/' + avatar)}}>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
      </div>
        <form action="#" method="post">
            <p>
            <label for="id">запись</label>
            <input type="text" name="id" value={{user.id}} readonly>    
            <br>
            <label for="username">имя</label>
            <input type="text" name="username" value={{user.name}}>
            <br>
            <label for="email">логин</label>
            <input type="text" name="email" value={{user.email}}>
            <br>
            <label for="password">пароль</label>
            <input type="text" name="password" value="оставить старый">
            <br>
            <label for="privileges">права</label>
            <input type="text" name="privileges" value={{user.privileges}}>
            <br>
            <label for="blockstate">блокировать</label>
            {%if user.isblocked == False%}
            <input type="checkbox" name="blockstate" value="block">
            {% endif %}
            {%if user.isblocked == True%}
            <input type="checkbox" name="blockstate" value="block" checked>
            {% endif %}
            <br>
            <label for="ava_reset">удалить аватар</label>
            <input type="checkbox" name="ava_reset" value="block">
            </p>
            <input type="submit">
          </form>

        {% if message2 %}
        <p>{{ message2 }}</p>
        {% endif %}
</body>
