<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="/static/style.css">
	<title>DSC</title>
</head>


<body>
  <div class="header">
  <h1> ГЛАВНАЯ СТРАНИЦА DSChat <h1>
  </div>


{% if data %}
  <div class="header">
    <!--  <p>Ваш IP: {{ data[0] }}</p> -->
    <p>Ваш клиент:{{  data[1] }}</p>
  </div>
{% endif %}

<div class="header">
  Ссылки:
  <br>
  <a href = "/login/" /a> ВОЙТИ В СИСТЕМУ
  <br>
  <a href = "/regnew/" /a> ЗАРЕГИСТРИРОВАТЬСЯ
</div>

<br>

  {% if message %}
      <p> {{message}}</p>
  {% endif %}

</body>