<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<!-- <meta http-equiv="refresh" content="1"> -->
	<link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>

<body>

	<div class="login">

    	{% if message %}
        	<h2>{{ message }}</h2>
    	{% endif %}
    
    <form action="" method="post">
        <p>
	    <label for="username">E-MAIL</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="password">ПАРОЛЬ</label>
	    <input type="password" name="password">
	</p>
	<p>
	    <input type="submit" value="ОТПРАВИТЬ">
	</p>
		<input type="hidden" name="window_width" id="window_width_data">
  		<input type="hidden" name="window_height" id="window_height_data">
		<input type="hidden" name="screen_width" id="screen_width_data">
  		<input type="hidden" name="screen_height" id="screen_height_data">
    </form>

</div>

{% if ok_message %}
<div class="ok_message">
	{{ok_message}}
</div>
{% endif %}

{% if err_message %}
<div class="err_message">
	{{err_message}}
</div>
{% endif %}

{% if mod_message %}
<div class="mod_message">
	{{mod_message}}
</div>
{% endif %}

<script>
  document.getElementById('window_width_data').value = window.innerWidth;
  document.getElementById('window_height_data').value = window.innerHeight;
  document.getElementById('screen_width_data').value = window.screen.width;
  document.getElementById('screen_height_data').value = window.screen.height;
</script>

</body>
</html>
