<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<!-- <meta http-equiv="refresh" content="1"> -->
	<link rel="stylesheet" href="/static/style.css">
    <title>logout</title>
</head>

<body>

{% if ok_message %}
<div class="ok_message">
	{{ok_message}}
</div>
{% endif %}

{% if err_message %}
<div class="err_message">
	{{err_message}}
</div>
{% endif %}

{% if mod_message %}
<div class="mod_message">
	{{mod_message}}
</div>
{% endif %}

<br>
<div class="header">
    <a href = "/login/" /a> ВОЙТИ СНОВА
    </div>
</body>
</html>
