<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
	<title>DSC</title>
</head>


<body>
    <div class="header">
    <h1> ДОБАВЛЕНИЕ НОВОЙ ЗАПИСИ: <h1>
    </div>

        <div class="header">
        <br>
        <form action="#" method="post">
            <h1>
            <label for="username">имя &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="username">
            <br>
            <label for="email">логин &nbsp;</label>
            <input type="text" name="email">
            <br>
            <label for="password">пароль</label>
            <input type="text" name="password">
            <br>
            <label for="privileges">права &nbsp;</label>
            <input type="text" name="privileges">
            </h1>
            <input type="submit">
          </form>
        </div>
</body>
