<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>DSC</title>
</head>


<body>
    <h1> ДОБАВЛЕНИЕ НОВОЙ ЗАПИСИ: <h1>

        <form action="#" method="post">
            <p>
            <label for="username">имя</label>
            <input type="text" name="username">
            <br>
            <label for="email">логин</label>
            <input type="text" name="email">
            <br>
            <label for="password">пароль</label>
            <input type="text" name="password">
            <br>
            <label for="privileges">права</label>
            <input type="text" name="privileges">
            </p>
            <input type="submit">
          </form>

</body>
