<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
	<title>DSC</title>
</head>


<body>
    <div class="header">
        <h1> USER PAGE <h1>
    </div>

    <div class="avatar">
    {%if avatar %}
    <img src={{url_for('static', filename='avatars/' + avatar)}} style="width: 10%; height: auto;" alt="default">
    {% endif %}
    <br>
    
    <div class="message">
    {% if message %}
        <p> {{message}}</p>
    {% endif %}
    </div>
    </div>
    <div class="header">
    <a href = "/user_editing/" /a> ИЗМЕНИТЬ ПАРОЛЬ ИЛИ АВАТАР
    </div>
</body>
